<% if users.any? %>
    <ul class="list-unstyled">
      <% users.each do |user| %>
         <table>
            <tr>
              <td>
                <div>
                  <% if user.user_image? %>
                    <%= image_tag user.user_image.url, width: "70px", height: "70px" %>
                  <% else %>
                    <img class="img" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
                  <% end %>
                </div>
              </td>
                <td><%= link_to user.name, user_path(user) %></td>
            </tr>
          </table>
      <% end %>
    </ul>
  <%= paginate users %>
<% end %>



            




          